# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
# data directory
data/
#cache
mapping-alleles-bcgwas_cache/
packrat/lib*/
.gitignore
.Rprofile
*.html
*.pdf
mapping-alleles-bcgwas.Rmd
1kg-data/*


